<h1>Listing offers</h1>

<table>
  <tr>
    <th>Ownermake</th>
    <th>Ownermodel</th>
    <th>Owneryear</th>
    <th>Ownermileage</th>
    <th>Ownerdesc</th>
    <th>Ownercartype</th>
    <th>Offerprice</th>
    <th>Image1</th>
    <th>Seller</th>
    <th>Estvalue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wanted_ad.offers.each do |a| %>
  <tr> 
    <td><%= a.ownermake %></td>
    <td><%= a.ownermodel %></td>
    <td><%= a.owneryear %></td>
    <td><%= a.ownermileage %></td>
    <td><%= a.ownerdesc %></td>
    <td><%= a.ownercartype %></td>
    <td><%= a.offerprice %></td>
    <td><%= a.image1 %></td>
    <td><%= a.seller_id %></td>
    <td><%= a.estvalue %></td>
    <td><%= link_to 'Show', wanted_ad_offer_path(a.wanted_ad_id, a.id) %></td>
    <td><%= link_to 'Edit', edit_wanted_ad_offer_path(a.wanted_ad_id, a.id) %></td>

  </tr>

<% end %>
</table>

<br />

