<p id="notice"><%= notice %></p>

<div id="floatbox">
<p><img src="<%= @offer.image1 %>"></p>
<p></div>
  <div id="floatbox">
  <b>Ownermake:</b>
  <%= @offer.ownermake %>
</p>

<p>
  <b>Ownermodel:</b>
  <%= @offer.ownermodel %>
</p>
<p>
  <b>Owneryear:</b>
  <%= @offer.owneryear %>
</p>

<p>
  <b>Ownermileage:</b>
  <%= @offer.ownermileage %>
</p>

<p>
  <b>Ownerdesc:</b>
  <%= @offer.ownerdesc %>
</p>
</div>
<p><div id="floatbox">
  <b>Ownercartype:</b>
  <%= @offer.ownercartype %>
</p>

<p>
  <b>Offerprice:</b>
  <%= @offer.offerprice %>
</p>


<p>
  <b>Seller:</b>
  User <%= @offer.user_id %>
</p>

<p>
  <b>Estvalue:</b>
  <%= @offer.estvalue %>
</p>


<%= link_to 'Edit', edit_wanted_ad_offer_path(@offer) %> |
<%= link_to 'Back', wanted_ad_offers_path %>
<P></div>
<BR><BR>
<center>Edmunds Make ID# <%= @c.make %></center>

<div style="clear:both">
<font size="1"><%= @carinfo %></font></div>
