<p id="notice"><%= notice %></p>

<p>
  <b>Ownermake:</b>
  <%= @offer.ownermake %>
</p>

<p>
  <b>Ownermodel:</b>
  <%= @offer.ownermodel %>
</p>

<p>
  <b>Owneryear:</b>
  <%= @offer.owneryear %>
</p>

<p>
  <b>Ownermileage:</b>
  <%= @offer.ownermileage %>
</p>

<p>
  <b>Ownerdesc:</b>
  <%= @offer.ownerdesc %>
</p>

<p>
  <b>Ownercartype:</b>
  <%= @offer.ownercartype %>
</p>

<p>
  <b>Offerprice:</b>
  <%= @offer.offerprice %>
</p>

<p>
  <b>Image1:</b>
  <%= @offer.image1 %>
</p>

<p>
  <b>Seller:</b>
  User <%= @offer.user_id %>
</p>

<p>
  <b>Estvalue:</b>
  <%= @offer.estvalue %>
</p>


<%= link_to 'Edit', edit_wanted_ad_offer_path(@offer) %> |
<%= link_to 'Back', wanted_ad_offers_path %>

<%= @carinfo %>
