<h1>Latest Cars Wanted</h1>

<table>
  <tr>
    <th>Car type</th>
    <th>Car make</th>
    <th>Car model</th>
    <th>Mileage from</th>
    <th>Mileage to</th>
    <th>Budget from</th>
    <th>Budget to</th>
    <th>Description</th>
    <th>Desired mpg</th>
    <th>Color</th>
    <th>Year from</th>
    <th>Year to</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wanted_ads.each do |wanted_ad| %>
  <tr>
    <td><%= wanted_ad.car_type %></td>
    <td><%= wanted_ad.car_make %></td>
    <td><%= wanted_ad.car_model %></td>
    <td><%= wanted_ad.mileage_from %></td>
    <td><%= wanted_ad.mileage_to %></td>
    <td><%= wanted_ad.budget_from %></td>
    <td><%= wanted_ad.budget_to %></td>
    <td><%= wanted_ad.description %></td>
    <td><%= wanted_ad.desired_mpg %></td>
    <td><%= wanted_ad.color %></td>
    <td><%= wanted_ad.year_from %></td>
    <td><%= wanted_ad.year_to %></td>
    <td><%= link_to 'Show', wanted_ad %></td>
    <td><%= link_to 'Edit', edit_wanted_ad_path(wanted_ad) %></td>
    <td><%= link_to 'Destroy', wanted_ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wanted ad', new_wanted_ad_path %>


<h1>Log in</h1>

<%= form_for(:session, url: sessions_path) do |f| %>

    <p>
        <%= f.label :email %><BR>
        <%= f.text_field :email %>

    </p>
        <%= f.label :password %><BR>
        <%= f.password_field :password %> 

        <p>

            <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>



<% end %> 
<p> <BR><B>Not registered? <%= link_to "Sign up!", new_user_path %></b>


