<h1>Cars Wanted Listings</h1>

    
<% @wanted_ads.each do |wanted_ad| %>
<div id="floatbox">

   <img src="<%= wanted_ad.car_type %>" />
   <div id="text"><BR>From <%= wanted_ad.mileage_from %>
   to <%= wanted_ad.mileage_to %> miles
   <BR>Budget: $<%= wanted_ad.budget_from %> - 
   $<%= wanted_ad.budget_to %>
   <BR>Years <%= wanted_ad.year_from %>
   to <%= wanted_ad.year_to %>
   <BR><%= link_to 'Show this wanted ad', wanted_ad %> 
</div>
   <BR><BR>

</div>
<% end %>
    


<br />

<center>
<%= link_to 'New Wanted ad', new_wanted_ad_path %>

<P>
<%= link_to "Sign up", new_user_path %> | <%= link_to "Log in", signin_path %>
</center>